.home {
  height: 100lvh;
  width: 100%;
}

.home_container {
  gap: 1rem;
  margin-top: 15vh;
}

@media (max-width: 480px) {
  .home_container {
    margin-top: 5vh;
  }
}

.home_title {
  color: var(--white-color);
  font-family: var(--font-prata);
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 200;
  text-align: center;
}
.home_button {
  display: flex;
  gap: 4rem;
  margin-block: 2rem;
}

@media (max-width: 480px) {
  .home_title {
    padding-inline: 1rem;
  }
  .home_button {
    gap: 1rem;
  }
  .hero_logo {
    margin-top: -4rem;
  }
}

@media (min-width: 834px) and (max-height: 834px) and (orientation: landscape) {
  .home_container img {
    max-height: 20lvh;
  }
}
