.about {
  min-height: 100lvh;
  width: 100%;
  padding: 15lvh 5lvh;
  align-items: center;
}

.about_user {
  width: 100%;
  padding: 5lvh;
  gap: 4rem;
}

.about_store {
  background-color: var(--black-color);
  backdrop-filter: blur(6px);
  height: 25lvh;
  width: 70%;
  border-radius: 12px;
  border: 1px solid var(--border-gray-color);
  padding: 2rem;
}

.about_logo_wrapper {
  position: relative;
  height: 100%;
  width: 30%;
  overflow: hidden;
}

.about_separtor {
  height: 100%;
  width: 1px;
  background-color: var(--border-gray-color);
  margin-inline: 5%;
}
.about_store_description {
  flex: 1;
  color: var(--white-medium-color);
  font-family: var(--font-prata);
}

@media (max-width: 480px) {
  .about_user {
    padding: 0;
    gap: 1rem;
  }
  .about_store {
    height: 50lvh;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
  }
  .about_logo_wrapper {
    position: relative;
    height: 30%;
    width: 60%;
    overflow: hidden;
  }
  .about_separtor {
    width: 100%;
    height: 1px;
    margin-block: 2rem;
  }
  .about_store_description {
    font-size: 0.9rem;
  }
}

@media (min-width: 600px) and (max-width: 834px) and (orientation: portrait) {
  .about_user {
    padding: 0;
    gap: 1rem;
  }
  .about_store {
    height: 20lvh;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
  }
}
