.about {
  min-height: 100lvh;
  width: 100%;
  padding: 15lvh 5lvh;
  align-items: center;
}

.about_user {
  width: 100%;
  padding: 5lvh;
  gap: 4rem;
}

.about_store {
  background-color: var(--black-color);
  backdrop-filter: blur(6px);
  height: 25lvh;
  width: 70%;
  border-radius: 12px;
  border: 1px solid var(--border-gray-color);
  padding: 2rem;
}

.about_logo_wrapper {
  position: relative;
  height: 100%;
  width: 30%;
  overflow: hidden;
}

.about_separtor {
  height: 100%;
  width: 1px;
  background-color: var(--border-gray-color);
  margin-inline: 5%;
}
.about_store_description {
  flex: 1;
  color: var(--white-medium-color);
  font-family: var(--font-prata);
}
