.card_container {
  height: auto;
  min-height: 600px;
  max-height: 650px;
  width: calc(50% - 2rem);
  background: var(--black-color);
  border: 1px solid var(--border-gray-color);
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  backdrop-filter: blur(6px);
}

.card_header {
  height: 70%;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid var(--border-gray-color);
}

.card_image {
  position: relative;
  height: 100%;
  width: 100%;
}

.card_header_title {
  position: absolute;
  pointer-events: none;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  padding: 1rem;
}

.card_header_title h2 {
  font-family: var(--font-noto);
  color: var(--white-medium-color);
  margin-bottom: 0.3em;
}

.card_header_title p {
  font-family: var(--font-noto);
  color: var(--white-small-color);
}

.card_header_overlay {
  position: absolute;
  pointer-events: none;
  inset: 0;
  background: linear-gradient(to top, rgba(24, 24, 27, 0.8), transparent);
}

.card_footer {
  height: 30%;
  width: 100%;
}

.card_appellations {
  width: 100%;
  padding: 1rem;
  gap: 1.3em;
}

.card_appellations h4 {
  font-family: var(--font-noto);
  color: var(--white-medium-color);
  text-transform: uppercase;
}

.appellation_text {
  color: var(--white-small-color);
  font-family: var(--font-noto);
  white-space: nowrap;
  flex-wrap: wrap;
}

.card_footer_text {
  margin-inline: auto;
}

.card_footer_separator {
  height: 1px;
  width: 80%;
  margin-inline: auto;
  background-color: var(--border-gray-color);
  margin-block: 0.5em;
}

.card_varieties {
  flex: 1;
  padding: 1rem 2rem;
}

.card_varieties p {
  font-family: var(--font-prata);
  padding: 0.25rem 0.5rem 0.15rem 0.5rem;
  margin-inline: 0.25em;
  background-color: rgba(39, 39, 42, 0.5);
  color: var(--white-small-color);
  border-radius: 9999px;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .card_container {
    min-height: 40lvh;
    height: 45lvh;
    width: 100%;
  }
  .card_header {
    height: 100%;
  }
  .card_header_title {
    padding: 0.5rem 1rem;
  }
  .card_header_title h2 {
    margin-bottom: 0;
  }
  .card_appellations {
    display: none;
  }
  .card_footer_separator {
    display: none;
  }
  .card_varieties {
    display: none;
  }
  .card_varieties p {
    font-size: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 834px) and (orientation: portrait) {
  .card_container {
    width: calc(50% - 1rem);
  }
  .card_header {
    height: 75%;
  }
  .card_footer {
    height: 25%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .card_container {
    height: 38lvh;
  }
  .card_appellations {
    display: none;
  }
  .card_footer_separator {
    display: none;
  }
  .card_varieties {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (min-width: 834px) and (max-height: 834px) and (orientation: landscape) {
  .card_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card_footer_separator {
    margin-block: 0em;
  }
  .appellation_text {
    margin-block: 0.5rem;
    font-size: 0.9rem;
  }
}
