/* rc-slider classes – use !important to override the default styles */
.MuiSlider-valueLabel {
  background-color: var(--white-color) !important;
  border-radius: 16px !important;
  color: var(--or-color) !important;
}

.MuiSlider-thumb {
  color: var(--white-color) !important;
}
.MuiSlider-thumb:hover {
  box-shadow: 0px 0px 0px 8px #8549382e !important;
}
.MuiSlider-thumb.Mui-active {
  box-shadow: 0px 0px 0px 14px #8549382e !important;
}
.MuiSlider-thumb.Mui-active:hover {
  box-shadow: 0px 0px 0px 14px #8549382e !important;
}

.MuiSlider-track {
  color: var(--or-color) !important;
}

.MuiSlider-rail {
  color: var(--or-color) !important;
  border-radius: 32px !important;
}

/* ************************************************************** */

.input_slider_number {
  gap: 1rem;
  justify-content: space-around;
}
.input_slider_number > input {
  padding: 8px 12px;
  height: 2em;
  text-align: center;
  width: 15% !important;
}
.input_slider_number > input::placeholder {
  font-size: 0.8rem;
}

.slider_label {
  width: fit-content;
  border: 1px solid #e3d1c6;
  background-color: #faf5eb;
  padding: 0.15rem 0.5rem;
  border-radius: 16px;
  font-family: var(--font-noto);
}
.slider_container {
  width: 100%;
  gap: 0.2rem;
  border: 1px solid var(--or-color);
  padding: 1rem;
  border-radius: 24px;
}
