.header_section_title {
  font-family: var(--font-noto);
  font-size: 3rem;
  color: var(--white-color);
  gap: 2rem;
}
.header_section_desc {
  font-family: var(--font-prata);
  color: var(--white-medium-color);
  font-size: 1.3rem;
  width: 65%;
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 480px) {
  .header_section_container {
    margin-bottom: 1rem;
  }
  .header_section_title {
    font-size: 2rem;
    gap: 1rem;
  }
  .header_section_desc {
    font-size: 1rem;
    width: 100%;
  }
}

@media (min-width: 834px) and (max-height: 834px) and (orientation: landscape) {
  .header_section_container {
    padding-top: 3lvh;
  }
  .header_section_desc {
    width: 80%;
  }
}

@media (min-width: 600px) and (max-width: 834px) and (orientation: portrait) {
  .header_section_desc {
    width: 90%;
  }
}
