.loader {
  height: 100vh;
  width: 100vw;
}

.loader_circle {
  width: 86px;
  height: 86px;
  border: 8px solid var(--black-color);
  border-top-color: var(--or-color);
  border-radius: 50%;
  margin-bottom: 16px;
}

.loader p {
  color: var(--white-color);
  font-family: var(--font-noto);
  font-size: 1.2rem;
  opacity: 0.8;
}
