.motion_button {
  padding: 0.7rem 2rem;
  background-color: var(--or-color);
  color: var(--white-color);
  border: none;
  font-family: var(--font-noto);
  font-size: 0.95rem;
  border-radius: 40px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .motion_button {
    padding: 0.4rem 1.5rem;
    font-size: 1rem;
  }
}
