.input_motion {
  padding: 10px 15px;
  border: 1px solid var(--black-color);
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  height: 2.5em;
}

.input_area {
  padding: 10px 15px;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  border: 1px solid var(--black-color);
  resize: none;
  line-height: 1.5;
  height: 6em;
}
