.contact_container {
  position: absolute;
  background-color: "rgba(0; 0; 0; 0.647)";
  padding: 2rem;
  width: 100lvw;
  height: 100lvh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}

.input_title {
  color: var(--white-color);
  font-size: 2rem;
  font-family: var(--font-prata);
}

.contact_block {
  width: 30%;
  height: 60%;
  border-radius: 24px;
  background-color: var(--black-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.half_input {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.modal_button {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
