.product_container {
  min-height: 100lvh;
  width: 100%;
  padding: 15lvh 5lvh 0 5lvh;
  gap: 2rem;
  align-items: center;
}
.product_card_container {
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 480px) {
  .product_container {
    padding: 10lvh 5lvh 0 5lvh;
  }
  .product_card_container {
    gap: 1.5rem;
  }
}
