.filter_container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.134);
  padding: 2rem;
  left: 0;
  right: 0;
  width: auto;
  height: 100lvh;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(18px);
  z-index: 900;
}

.filter_block {
  width: 40%;
  height: 70%;
  border-radius: 24px;
  background-color: var(--black-color);
  padding: 2rem 3rem;
  overflow: scroll;
}

.slider {
  color: var(--primary-color);
}

.css-1xcmt9q-MuiSlider-thumb.Mui-active {
  box-shadow: 0px 0px 0px 14px #b6935e1f !important;
}

.select_separator {
  background-color: var(--or-color);
  height: 100%;
  width: 2px;
}

.select_container {
  width: 100%;
  justify-content: space-between;
}
.select_filter {
  width: 40%;
  border: 1px solid #e3d1c6;
  background-color: #faf5eb;
  padding: 0.15rem 0.5rem;
  border-radius: 16px;
  font-family: var(--font-noto);
  outline: none;
  font-size: 1rem;
  min-width: fit-content;
  cursor: pointer;
}

.select_filter > option {
  font-family: "Noto Sans", sans-serif;
}

@media (min-width: 600px) and (max-width: 834px) and (orientation: portrait) {
  .filter_block {
    width: 80%;
    height: 85%;
  }
}

@media (min-width: 834px) and (max-height: 834px) and (orientation: landscape) {
  .filter_block {
    width: 70%;
    height: 85%;
  }
}
